__pycache__
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
*.egg
*.manifest
*.spec
build/
develop-eggs/
dist/
downloads/
.eggs/
.parts/
sdist/
var/
wheels/
node_modules/
.DS_Store
.git
.gitignore
.dockerignore
.env
.vscode
.idea