streamlit
langchain
langchain_openai
langchain-experimental
langchain-core
langchain-community
transformers
pandas
openai
tqdm
python-dotenv
faiss-cpu
tiktoken
tabulate
matplotlib
sentence-transformers